<%- include('header_CS') %>

<div class="container-xxl py-5">
    <div class="container">
        <p class="csb_start">歡迎使用Ai智慧收鞋櫃</p>
        <p class="csb_guide">請將欲清洗的鞋子放入下方收鞋箱</p>
        <p class="csb_warning"><i class="bi bi-exclamation-triangle-fill me-2"></i>僅可放入運動鞋<i class="bi bi-exclamation-triangle-fill ms-2"></i></p>
        </div>
    </div>
</div>

<%- include('footer_CS') %>