<%- include('header_CS') %>

<!--顯示7秒後自動跳轉到CS_start頁面 -->
<span style="font-size:24px;"><meta http-equiv="refresh" content="7;URL=CS_start"></span> 

<div class="container-xxl py-5">
    <div class="container">
        <p class="csb_error"><i class="bi bi-exclamation-triangle-fill me-2"></i>您放入的鞋款非運動鞋<i class="bi bi-exclamation-triangle-fill ms-2"></i></p>
        <p class="csb_try_guide">請重新放入正確鞋款，感謝配合！</p>
        </div>
    </div>
</div>


<%- include('footer_CS') %>