<%- include('header') %>

<div class="container-xxl pt-5 pb-5">
    <p style="text-align:center;"><img src="img/thankyou.png" alt="" style="width: 540px; height: 150;"></p>
    <h3 class="text-center mt-3">我們已收到您的預約囉！</h3>
    <h6 class="text-center mt-3">請務必記得在預約的時間內帶著您的愛鞋前往門市唷！</h6>
    <h6 class="text-center mt-1">感謝您的合作</h6>
    <br>
    <br>
    <p style="text-align:center;"><a href="/">返回首頁</a></p>
</div>
<%- include('footer') %>

